### MAP

Display Full Names

In [ ]:
first_name = ["Keith", "Elizabeth","Alex","William"]
last_name = ["Philip","Brown","Smith","Oliver"]

In [ ]:
name = list(map(lambda x, y:x+ " "+y, first_name, last_name))
name

['Keith Philip', 'Elizabeth Brown', 'Alex Smith', 'William Oliver']

Find cube of numbers in a list

In [ ]:
def cube(x):
    return x**3

In [ ]:
arr_num = [1,3,5,7,9]
cube_values = list(map(cube,arr_num))

In [ ]:
print(cube_values)

[1, 27, 125, 343, 729]

Area of circle using map function

In [ ]:
import time

In [ ]:
radius = [3,5,8,10,12]

In [ ]:
t0 = time.time()
area = list(map(lambda x:3.14*x**2,radius))
print(area)
t1 = time.time()

[28.26, 78.5, 200.96, 314.0, 452.16]

In [ ]:
print(t1-t0)

0.00026416778564453125

Area of circle using for loop

In [ ]:
t0 = time.time()
area=[]
for r in radius:
    area.append(3.14*r*r)
print(area)
t1 = time.time()

[28.259999999999998, 78.5, 200.96, 314.0, 452.15999999999997]

In [ ]:
print(t1-t0)

0.0002779960632324219

### FILTER

Filter employees whose first name ends with 'h'

In [ ]:
names = list(filter(lambda x: ( x[-1]=='h'),first_name))

In [ ]:
names

['Keith', 'Elizabeth']

### REDUCE

Find the largest number

In [ ]:
from functools import reduce

In [ ]:
arr_num = [110,569, 784, 377, 900, 126]

In [ ]:
largest_num = reduce(lambda x,y: x if x>y else y,arr_num)

print(largest_num)

900