<a href="https://colab.research.google.com/github/akanshakhandelwal/Python-Notebooks/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n=9
for i in range(1,n+1):
  for j in range(i):
    print(i, end=" ")
  print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [7]:
n=9
for i in reversed(range(1,n+1)):
  for j in range(i):
    print(i, end=" ")
  print("")

9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [8]:
n=9
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9