<a href="https://colab.research.google.com/github/akanshakhandelwal/Python-Notebooks/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n=9
for i in range(1,n+1):
  for j in range(i):
    print(i, end=" ")
  print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [7]:
n=9
for i in reversed(range(1,n+1)):
  for j in range(i):
    print(i, end=" ")
  print("")

9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [8]:
n=9
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [14]:
n=10
chars =[]
for i in range(n):
  chars.append(chr(97+i))
chars = chars [::-1]
items = list(range(n))
items = items[:-1]+items[::-1]
for i in items:
  print("--"*(n-i-1),end="")
  if i == 0:
    print("-".join(chars[:i+1]),end="")
  else:
    print("-".join(chars[:i+1]),end="-")
  rev = chars[:i]
  rev= rev[::-1]
  print("-".join(rev),end="")
  if(i<n-1):
    print("--"*(n-i-1))
  else:
    print("")

------------------j------------------
----------------j-i-j----------------
--------------j-i-h-i-j--------------
------------j-i-h-g-h-i-j------------
----------j-i-h-g-f-g-h-i-j----------
--------j-i-h-g-f-e-f-g-h-i-j--------
------j-i-h-g-f-e-d-e-f-g-h-i-j------
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
------j-i-h-g-f-e-d-e-f-g-h-i-j------
--------j-i-h-g-f-e-f-g-h-i-j--------
----------j-i-h-g-f-g-h-i-j----------
------------j-i-h-g-h-i-j------------
--------------j-i-h-i-j--------------
----------------j-i-j----------------
------------------j------------------

In [27]:
pascals = [1,1]
n=int(input())
if(n==1):
    print([1])
elif(n==2):
    print(pascals)
else:
    print(1)
    s = [str(i) for i in pascals]
    print(" ".join(s))
    for i in range(2,n):
      row=[1]
      for i in range(1,len(pascals)):
        row.append(pascals[i-1] +  pascals[i])
      row.append(1)
      pascals=row.copy()
      s = [str(i) for i in pascals]
      print(" ".join(s))

10
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1

In [34]:
import numpy as np
arr = np.zeros((5,5),dtype=int)
np.fill_diagonal(arr,1)
np.fill_diagonal(np.flipud(arr),1)
arr

array([[1, 0, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1]])

In [41]:
n = 10
for i in reversed(range(n)):
  print(" "*(i),end="")
  print("* " * (n-i))

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *